// Variables
$font-main: "Nunito", sans-serif;

$color-main: #525a78;
$color-secondary: #212529;
$color-light: #e9ecef;
$color-warning: #d13f2f;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  max-height: 100vh;
  font: $font-main;
  font-size: 2rem;
  font-weight: normal;
  background-color: rgba($color-secondary, 1);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: minmax(12rem, auto) repeat(5, 10rem);

  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 10rem;
  font-family: $font-main;
  font-weight: 700;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: 2px solid $color-light;
  overflow: hidden;
}

.calculator-grid > button {
  cursor: pointer;
  font-family: $font-main;
  font-weight: 700;
  font-size: 3.5rem;
  outline: none;
  border: 2px solid $color-light;
  color: $color-light;
  background-color: rgba($color-main, 1);

  &:hover {
    background-color: rgba($color-main, 0.5);
  }
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid $color-light;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: rgba($color-main, 0.5);
  word-wrap: break-word;
  word-break: keep-all;

  &__previous {
    color: $color-light;
    font-size: 2.5rem;
  }

  &__current {
    color: $color-light;
    font-size: 3rem;
  }
}
