// Variables
$font-main: "Poppins", sans-serif;

$color-main: #394764;
$color-secondary: #181f33;
$color-light: #eae3db;
$color-warning: #d13f2f;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-weight: normal;
  background-color: #394764;
  color: #f4f4f4;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;

  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: minmax(12rem, auto) repeat(5, 10rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 3.5rem;
  border: 1px solid white;
  outline: none;
  color: #f4f4f4;
  background-color: rgba(#181f33, 0.7);

  &:hover {
    background-color: rgba(#181f33, 1);
  }
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(black, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  word-wrap: break-word;
  word-break: keep-all;

  &__previus {
    color: rgba(white, 0.75);
    font-size: 2rem;
  }

  &__current {
    color: white;
    font-size: 3rem;
  }
}
